In [1]:
import os
import math
import time
import copy
import datetime as dt

import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
font_path = r'C:\Windows\Fonts\NanumBarunGothic.ttf'
font_name = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font_name)

# Machine Learning Library
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn import svm

### 1. Import Dataset

#### 1.1 Define File Path

In [2]:
# Data Folder root path
root_path = os.path.join('..', 'input')

# Reservation data path (yearly dataset )
res_18_path = os.path.join(root_path, 'reservation_18_discount.csv')
res_19_path = os.path.join(root_path, 'reservation_19_discount.csv')
# res_20_path = os.path.join(root_path, 'reservation_19_discount.csv')

# Reservation Discount
res_discount_18_path = os.path.join(root_path, 'reservation_18.csv')
res_discount_19_path = os.path.join(root_path, 'reservation_19.csv')

# Jeju visitor data path
jeju_visit_path = os.path.join(root_path, 'jeju_daily.csv')

# Discount 
discount_type_path = os.path.join(root_path, 'discount_type.csv')
discount_season_path = os.path.join(root_path, 'discount_season.csv')
discount_policy_path = os.path.join(root_path, 'discount_policy.csv')

#### 1.2 Load File

In [3]:
# Reservation dataset
res_data_type = {'계약번호': int, '예약경로명': str, '고객구분명': str, '총 청구액(VAT포함)': int,
                 '예약모델명': str, '차급': str, '대여일': str, '대여시간': str, '반납일': str,
                 '반납시간': str, '차량대여요금(VAT포함)': int, 'CDW요금구분명': str, 'CDW요금': int, 
                 '총대여료(VAT포함)': int, '적용할인율(%) ': float, '예약일자': str}

res_18 = pd.read_csv(res_18_path, delimiter='\t', dtype=res_data_type)
res_19 = pd.read_csv(res_19_path, delimiter='\t', dtype=res_data_type)
# res_20 = pd.read_csv(res_20_path, delimiter='\t', dtype=res_data_type)

# Reservation Discount dataset
res_discount_data_type = {'예약경로': int,'예약경로명': str, '계약번호': int,  '고객': int, '고객구분': float, 
                          '고객구분명': str, '총 청구액(VAT포함)': int, '총 수납금액(VAT포함)': int,
                          '총 잔액(VAT포함)': int, '예약모델': str, '예약모델명': str, '차급': str, 
                          '대여일': str, '대여시간': str, '반납일': str,'반납시간': str, '대여기간(일)': int,
                          '대여기간(시간)': int, '실반납일시': int, '실대여기간(일)': int, '실대여기간(시간)': int,
                          '차량대여요금(VAT포함)': int, 'CDW가입여부': str, 'CDW요금구분': float, 
                          'CDW요금구분명': str, 'CDW요금': str, '회원등급': str, '차종': str, '구매목적': str, 
                          '내부매출액': int, '수납': str, '예약일자': str, '할인유형': str, '할인유형명': str, 
                          '적용할인명': str}

res_18_discount = pd.read_csv(res_discount_18_path, delimiter='\t', dtype=res_discount_data_type)
res_19_discount = pd.read_csv(res_discount_19_path, delimiter='\t', dtype=res_discount_data_type)

# Jeju dataset
jeju_visit = pd.read_csv(jeju_visit_path, delimiter='\t', 
                         dtype={'yyyymmdd': int, 'domestic': float, 'foreign': float, 'total': float})

# Discount dataset
discount_type = pd.read_csv(discount_type_path, delimiter='\t', dtype={'kind': str, 'discount': int})
discount_season = pd.read_csv(discount_season_path, delimiter='\t',
                                 dtype={'YYYYMMDD': int, 'M3': float, 'M2': float, 'M1': float, 'W4': float,
                                        'W3': float, 'W2': float, 'W1': float, 'weekend': float, 'season': float, 
                                        'event': float})
discount_policy = pd.read_csv(discount_policy_path, delimiter='\t', 
                              dtype={'date': int, '20160701': float, '20160901': float, '20170101': float,
                                    '20180101': float, '20180209': float, '20180312': float, '20180314': float,
                                    '20180327': float, '20180417': float, '20180508': float, '20180628': float,
                                    '20180720': float, '20180726': float, '20180808': float, '20180817': float,
                                    '20180903': float, '20180910': float, '20180914': float, '20181010': float,
                                    '20181029': float, '20181129': float, '20181218': float, '20190111': float,
                                    '20190122': float, '20190225': float, '20190313': float, '20190322': float,
                                    '20190405': float, '20190409': float, '20190419': float, '20190510': float,
                                    '20190521': float, '20190528': float, '20190612': float, '20190701': float,
                                    '20190718': float, '20190723': float, '20190816': float, '20190823': float,
                                    '20190909': float, '20191029': float})

#### 1.3 API Data

In [4]:
# Jeju Airport Arrival Passenger Dataset

# API URL & Key
url = 'http://openapi.airport.co.kr/service/rest/totalAirportStatsService/getAirportStats'
service_key = 'UYRNns1wVRWz8MIyaMqUcL%2BHhIsbY0xjNyzRyvBNZRwh9zefraNj4lh9eBLgOw%2B2c8lBV%2Fh1SbzyNV96aO3DUw%3D%3D'

In [5]:
# API 
def get_api_data(date_from_to: list, ulr: str, service_key: str):
    for date in date_from_to:
        url_opt = f'?startDePd={date[0]}&endDePd={date[0]}&routeBe=1&pasngrCargoBe=0&serviceKey={service_key}'
        url_fin = ulr + url_opt
        response = urlopen(url_fin).read()
        xtree = ET.fromstring(response)
        rows = get_xml_data(xtree=xtree)

    return rows

def get_xml_data(xtree):
    rows = []
    for node in xtree[1][0]:
        airport = node.find("airport").text
        arrflgt = node.find("arrflgt").text
        arrpassenger = node.find("arrpassenger").text
        depflgt = node.find("depflgt").text
        deppassenger = node.find("deppassenger").text
        subflgt = node.find("subflgt").text
        subpassenger = node.find("subpassenger").text

        rows.append({"airport": airport, "arrflgt": arrflgt, "arrpassenger": arrpassenger, 
                     "arrpassenger": arrpassenger, "depflgt": depflgt, "deppassenger": deppassenger,
                     "subflgt": subflgt, "subpassenger": subpassenger})

    return rows

In [6]:
jeju_airport = get_api_data

### 2. Data Preprocessing

#### 2.1 Merge Dataset

In [7]:
# Reservation 
res = pd.concat([res_18, res_19], axis=0, ignore_index=True)
# res = pd.concat([res_18, res_19, res_20], axis=0)

# Reservation discount
res_discount = pd.concat([res_18_discount, res_19_discount], axis=0, ignore_index=True)

#### 2.2 Remap Columns

In [8]:
# Reservation
res_remap_cols = {'계약번호': 'res_num', '예약경로명': 'res_route_nm', '고객구분명': 'cust_kind_nm',
                 '총 청구액(VAT포함)': 'tot_fee', '예약모델명': 'res_model_nm', '차급': 'car_grd', 
                 '대여일': 'rent_day', '대여시간': 'rent_time', '반납일': 'return_day', '반납시간': 'return_time', 
                 '차량대여요금(VAT포함)': 'car_rent_fee', 'CDW요금구분명': 'cdw_fee_kind_nm', 'CDW요금': 'cdw_fee',
                 '회원등급': 'member_grd','차종': 'car_kind', '예약일자': 'res_day', '할인유형': 'discount_type', 
                 '총대여료(VAT포함)': 'fin_fee', '적용할인율(%)': 'fin_discount'
            }
res = res.rename(columns=res_remap_cols)

# Reservation Discount
res_discount_remap_cols = {'계약번호': 'res_num', '할인유형': 'discount_type', 
                           '할인유형명': 'discount_type_nm', '적용할인명': 'applyed_discount'}

res_discount = res_discount.rename(columns=res_discount_remap_cols)

# Jeju visit
jeju_remap_cols = {'domestic': 'visit_dom', 'foreign': 'visit_for', 'total': 'visit_tot'}
jeju_visit = jeju_visit.rename(columns=jeju_remap_cols)

#### 2.3 Check NA Values

In [9]:
# Reservation
na_cnt_res = res.isna().sum().sum()

# Jeju
na_cnt_jeju = jeju_visit.isna().sum().sum()

# discount type
na_cnt_discount = discount_type.isna().sum().sum()

# Discount Lead Time
na_cnt_discount_season = discount_season.isna().sum().sum()

# Discount Policy
na_cnt_discount_policy = discount_policy.isna().sum().sum()

print(na_cnt_res, na_cnt_jeju, na_cnt_discount, na_cnt_discount_season, na_cnt_discount_policy)

2904 2192 0 3774 43210

#### Fill Na values

In [10]:
# Jeju visit
jeju_visit = jeju_visit.fillna(0)

In [11]:
# Discount Poilicy
discount_policy['date'] = pd.to_datetime(discount_policy['date'], format='%Y%m%d')
discount_policy = discount_policy.set_index('date')
discount_policy = discount_policy.fillna(method='ffill', axis=1)
discount_policy = discount_policy.fillna(method='bfill', axis=1)
discount_policy = discount_policy.reset_index()

In [12]:
# Discount Season
discount_season = discount_season.fillna(0)

#### Change Data Types

In [13]:
#  Reservation dataset
res['res_day'] = pd.to_datetime(res['res_day'], format='%Y-%m-%d')
res['rent_day'] = pd.to_datetime(res['rent_day'], format='%Y-%m-%d')
res['return_day'] = pd.to_datetime(res['return_day'], format='%Y-%m-%d')

# Jeju Visit dataset
jeju_visit['visit_dom'] = jeju_visit['visit_dom'].astype(int)
jeju_visit['visit_for'] = jeju_visit['visit_for'].astype(int)
jeju_visit['visit_tot'] = jeju_visit['visit_tot'].astype(int)

jeju_visit['rent_day'] = pd.to_datetime(jeju_visit['yyyymmdd'], format='%Y%m%d')
# jeju_visit = jeju_visit.set_index('rent_day', drop=False)

# Discount Season dataset
discount_season['rent_day'] = pd.to_datetime(discount_season['YYYYMMDD'], format='%Y%m%d')

#### 2.3 Filter Dataset

In [14]:
# Reservation dataset
res = res[res['car_grd'] == '1.6급']
# res[res['res_route_nm'] ]

# Discount dataset
# Except 2017 year
discount_season = discount_season[discount_season['YYYYMMDD'] >= 20180101]

#### 2.4 Drop Columns

In [15]:
# Reservation dataset
res_drop_cols = ['res_route_nm', 'car_grd', 'res_model_nm',
                 'cust_kind_nm', 'cdw_fee_kind_nm', 'tot_fee']
res = res.drop(columns=res_drop_cols, axis=1)

# Reservation Discount dataset
res_discount = res_discount[['res_num', 'discount_type', 'discount_type_nm', 'applyed_discount']]

# jeju visit
jeju_visit = jeju_visit.drop(columns=['yyyymmdd'], axis=1)

# Discount
discount_season = discount_season[['rent_day', 'weekend', 'season', 'event']]

#### Ordering

In [16]:
res = res.sort_values(by=['rent_day', 'res_day'])
jeju_visit = jeju_visit.sort_values(by=['rent_day'])
discount_season = discount_season.sort_values(by=['rent_day'])

### 3. Data Preprocessing

#### 3.1 Reservation Dataset

In [17]:
# Caculate lead time of reservation 
res['lead_time'] = res['rent_day'] - res['res_day']
res['lead_time'] = res['lead_time'].apply(lambda x: x.days)

# Conver rent/return day and time to datetime (YYYYMMDD HHMISS)
rent_datetime = res['rent_day'].apply(lambda x: dt.datetime.strftime(x, '%Y-%m-%d')) + ' ' + res['rent_time']
return_datetime = res['return_day'].apply(lambda x: dt.datetime.strftime(x, '%Y-%m-%d')) + ' ' + res['return_time']
res['rent_datetime'] = pd.to_datetime(rent_datetime, format='%Y-%m-%d %H:%M:%S')
res['return_datetime'] = pd.to_datetime(return_datetime, format='%Y-%m-%d %H:%M:%S')

res['rent_period'] = res['return_datetime'] - res['rent_datetime']

In [18]:
# Make reservation counts on each day
res_cnt_on_rent_day = res[['rent_day', 'res_num']].groupby(by=['rent_day']).count()
res_cnt_on_rent_day = res_cnt_on_rent_day.rename(columns={'res_num': 'res_cnt'})

#### 3.2 Jeju Visit Dataset

In [19]:
jeju_visit['visit_tot'] = jeju_visit['visit_dom'] + jeju_visit['visit_for']

#### 3.3 Discount Dataset

In [20]:
# Rechange data type of reservation
res['res_day'] = pd.to_datetime(res['res_day'], format='%Y-%m-%d')
res['rent_day'] = pd.to_datetime(res['rent_day'], format='%Y-%m-%d')
res['return_day'] = pd.to_datetime(res['return_day'], format='%Y-%m-%d')

In [21]:
# Discount Policy
discount_idx_to_lead_time = {idx: day for idx, day in enumerate(discount_policy.columns)}
discount_lead_time_to_idx = {day: idx for idx, day in enumerate(discount_policy.columns)}

res_day_to_idx = {}
res_col = discount_policy.columns[1:]
for i in range(len(res_col)-1):
    date_range_temp = pd.date_range(start=res_col[i], end=res_col[i+1])
    date_range_temp = date_range_temp[:-1]
    for date in date_range_temp:
        res_day_to_idx[date] = i
        
date_range_last = pd.date_range(start=res_col[-1], end=discount_policy['date'].iloc[-1].strftime('%Y%m%d'))
for date in date_range_last:
    res_day_to_idx[date] = len(res_col) - 1
    
rent_day_to_idx = {date: idx for idx, date in enumerate(discount_policy['date'])}
discount_idx_col = [(rent_day_to_idx[idx], res_day_to_idx[col]) for idx, col in zip(res['rent_day'], res['res_day'])]
res['res_discount'] = [discount_policy.iloc[idx, col] for idx, col in discount_idx_col]
res['diff_discount'] = res['fin_discount'] - res['res_discount']

In [22]:
# Discount type
discount_type['discount'] = discount_type['discount'] - 60    # 비회원 기준 할인율
discount_type_dict = {kind: discount for kind, discount in zip(discount_type['kind'], discount_type['discount'])}

# Correct naming on 2018/2019 years 
discount_type_dict["인터넷일반회원"] = discount_type_dict["일반회원"]
discount_type_dict["인터넷골드회원"] = discount_type_dict["골드회원"]
discount_type_dict["인터넷더블골드회원"] = discount_type_dict["더블골드회원"]
discount_type_dict["예약어플(골드회원)"] = discount_type_dict["골드회원"]
discount_type_dict["예약어플(더블골드회원)"] = discount_type_dict["더블골드회원"]
discount_type_dict['비씨카드(주)'] = discount_type_dict['BC카드']
discount_type_dict["신한Top's club"] = discount_type_dict["신한 Top's club"]
discount_type_dict["현대카드오토케어"] = discount_type_dict["현대카드 오토케어"]
discount_type_dict["롯데그룹 임직원"] = discount_type_dict["롯데그룹임직원"]
discount_type_dict["금호그룹 임직원"] = discount_type_dict["금호그룹임직원"]
discount_type_dict["KT그룹 임직원"] = discount_type_dict["KT그룹임직원"]
discount_type_dict["VIP거래처(제주)"] = discount_type_dict["VIP거래처"]
discount_type_dict["에어부산(FLY.FUN)"] = discount_type_dict["에어부산(FLY & FUN)"]
discount_type_dict["삼성전자 서비스"] = discount_type_dict["삼성전자서비스"]
discount_type_dict["하나카드 VIP 컨시어지"] = discount_type_dict["하나카드VIP컨시어지"]
discount_type_dict["BC-kt 제휴카드"] = discount_type_dict["BC-kt제휴카드"]
discount_type_dict["인천공항홈페이지"] = discount_type_dict["인천공항 홈페이지"]

#### Join Dataset

In [23]:
# Reservation + Reservation Counts on each day
res = pd.merge(res, res_cnt_on_rent_day, how='left', on='rent_day', left_index=True, right_index=False)

In [24]:
# Reservation + Jeju visit on rental day
res = pd.merge(res, jeju_visit, how='left', on='rent_day', left_index=True, right_index=False)

In [25]:
# Reservaion + Discount season
res = pd.merge(res, discount_season, how='left', on='rent_day', left_index=True, right_index=False)

In [26]:
# Reservation + Reservation discount
res = pd.merge(res, res_discount, how='left', on='res_num', left_index=True, right_index=False)

In [27]:
# Drop unnecessary Columns
res = res.drop(columns=['rent_time', 'return_time', 'rent_datetime', 'return_datetime'], axis=1)

#### Add seasonality column

In [28]:
conditions = [
    (res['season'] != 0),
    (res['event'] == 1),
    ((res['weekend'] == 1) & (res['weekend'] == 1) & (res['weekend'] == 1)),
    (res['season'] + res['event'] + res['weekend'] == 0)]

values =[4, 3, 2, 1]

res['seasonality'] = np.select(conditions, values)

#### Update Discount Rate

In [29]:
res['discount_add'] = res['applyed_discount'].apply(lambda x: discount_type_dict.get(x, 0))
res['res_discount'] += res['discount_add']
res = res.drop(columns=['discount_add'])
res['res_discount'] = np.where(res['res_discount'] > 90, 90, res['res_discount'])    # 할인율 상한선: 90%
# res['diff_discount'] = res['fin_discount'] - res['rev_discount']

#### Calculate reservation fee

In [30]:
res['res_fee'] = res['fin_fee'] - res['cdw_fee']
res['res_fee'] = res['res_fee'] / (1 - res['fin_discount']/100)
res['res_fee'] = res['res_fee'] * (1 - res['res_discount']/100) + res['cdw_fee']
res['res_fee'] = res['res_fee'].apply(lambda x: round(x, 0))
res = res.reset_index(drop=True)

In [31]:
res.loc[res['res_fee'] == np.inf, 'res_fee'] = ((res['fin_fee'] - res['cdw_fee']) * res['res_discount']) + res['cdw_fee']

#### Remove Exception

In [32]:
# 쿠폰할인 제외
res = res[res['discount_type_nm'] != '쿠폰할인']

# 임의할인: 할인율 100% 제외
res = res[res['fin_fee'] != 0] 

# 업체할인: 비씨카드 이외 할인 제외
res = res[(res['discount_type_nm'] != '업체할인') | (res['applyed_discount'] == '비씨카드(주)')]

#### Drop Unnecessary columns for input

In [33]:
drop_cols_1 = ['res_num', 'rent_day', 'return_day', 'res_day', 'diff_discount']
drop_cols_2 = ['visit_dom', 'visit_for']    # Jeju visitor
drop_cols_3 = ['weekend', 'season', 'event']    # Season factor
drop_cols_4 = ['discount_type', 'discount_type_nm', 'applyed_discount']
drop_cols_5 = ['car_rent_fee', 'cdw_fee', 'fin_fee']
res = res.drop(columns=drop_cols_1 + drop_cols_2 + drop_cols_3 + drop_cols_4 + drop_cols_5, axis=1)

#### Data Split

In [34]:
res_input = res.drop(columns=['res_cnt'], axis=1)
res_target = res['res_cnt']

In [35]:
res.shape, res_input.shape, res_target.shape

((62449, 11), (62449, 10), (62449,))

#### Save Preprocessed Dataset

In [ ]:
res_input.to_csv(os.path.join('..', 'result', 'data', 'res_input.csv'), index=False)
res_target.to_csv(os.path.join('..', 'result', 'data', 'res_target.csv'), index=False)

In [36]:
res_input

,car_rent_fee,cdw_fee,fin_fee,fin_discount,lead_time,rent_period,res_discount,visit_tot,seasonality,res_fee
0,312000,86400,408400,50.0,30,5 days 01:53:00,50.0,0,3,408400.0
1,56800,64800,121600,50.0,27,2 days 00:40:00,50.0,0,3,121600.0
2,149000,24500,203500,50.0,25,2 days 06:27:00,50.0,0,3,203500.0
3,62080,22400,84480,68.0,18,1 days 21:53:00,53.0,0,3,113580.0
4,105000,28800,133800,50.0,11,2 days 00:00:00,50.0,0,3,133800.0
...,...,...,...,...,...,...,...,...,...,...
66156,72000,16000,88000,40.0,1,0 days 21:25:00,35.0,42914,3,94000.0
66157,66000,8800,74800,40.0,1,0 days 22:09:00,35.0,42914,3,80300.0
66158,72000,16000,88000,40.0,0,0 days 21:02:00,35.0,42914,3,94000.0
66159,144000,32000,176000,40.0,0,1 days 19:01:00,35.0,42914,3,188000.0
66160,78000,19200,97200,40.0,0,0 days 22:20:00,35.0,42914,3,103700.0